#header{
    background-attachment:fixed;background-position:auto;background-size:cover;background-repeat:no-repeat;background-image: url("/assets/banner-bg.jpg");
    padding:10px;
    border-bottom: 1px solid #000000;
}
#opachead{
    background-color:rgba(0, 0, 0, 0.6);border: 1px solid black;filter: alpha(opacity=60);
    padding-left: 50px;
}  
#tagling{
    font-style: italic;
    font-family: serif;
    font-size: 15pt;
    text-align: right;
    padding-right: 50px;
    color:#e0a800;
}
#body{
    background-attachment:fixed;background-position:auto;background-size:cover;background-repeat:no-repeat;background-image: url("/assets/banner-bg.jpg");
    padding:40px;
    padding-left:50px;
    padding-right:50px;
    color:#000000;
    border-bottom: 2px solid #000000;
}
#opacbody{
    background-color:rgba(0, 0, 0, 0.2);border: 1px solid black;filter: alpha(opacity=20);
}